{% extends "base.html" %}

{% load crispy_forms_tags %}


<!-- <div class="container-fluid">
	<div class="row">
		<div class="col " style="background: url('file:///Users/username/Desktop/background.png')">
    	</div>
	</div>
    <div class="row p-5">
    	<div class="col-2">
    	</div>
        <div class="col-8 text-center text-white">
		  <div class="content-section">
		      <div class="media">
		        <img class="rounded-circle" src="{{ object.user.profile.image.url }}">
		        <div class="media-body">
		          <h2 class="account-heading">{{ object.user.username }} {{ object.user.profile.id }}</h2>
		          <p class="text-secondary">{{ object.user.email }}</p>
		        </div>
		      </div>
		       <form method="POST" enctype="multipart/form-data">
		          {% csrf_token %}
		          <fieldset class="form-group">
		              <legend class="border-bottom mb-4">Информация о профиле</legend>
		              
		          </fieldset>
		          <div class="form-group">
		              <button class="btn btn-outline-info" type="submit">Применить</button>
		          </div>
		      </form>
		  </div>
		</div>
		<div class="col-2">
		</div>
	</div>
</div> -->

{% block profilePage %}
	<div class="container-fluid" style="background-image: url(https://i.imgur.com/uGMrAmR.png); height: 360px;">
		<div class="row " style="height: 360px;">
			<div class="col-4" style="padding-top: 60px;">
				<!-- <img src="https://cdnb.artstation.com/p/users/avatars/000/689/923/large/450a5451caa62932634a4c6ae0685fac.jpg?1551729923" class="img-fluid float-right" alt="Avatar" style="border-radius: 50%;"> -->
				<img class="rounded-circle img-fluid float-right" src="{{ object.user.profile.image.url }}">
			</div>
			<div class="col-4 text-white" style="padding-top: 60px;">
				<h1>{{ object.user.username }} {{ object.user.profile.id }}</h1>
				<h2>{{ object.user.email }}</h2>
				<p>Description</p>
				<p>
					<form method="POST" enctype="multipart/form-data">
			        {% csrf_token %}
				        <fieldset class="form-group">
				          <legend border-bottom mb-4>Мастер профиля</legend>
				          {{ form|crispy}}
				          
				        </fieldset>
			        <div class="form-group">
			          <button class="btn btn-danger" type="submit">Сохранить</button>
			        </div>
			      </form>
			  </p>
			</div>
			<div class="col-4">
				
			</div>
		</div> <!-- Image bg -->
	</div>

	<div class="container-fluid text-center bg-danger">
		<div class="btn-group" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-danger p-3">Подписчики</button>
		  <button type="button" class="btn btn-danger p-3">Подписки</button>
		  <button type="button" class="btn btn-danger p-3">Понравившиеся</button>
		  <button type="button" class="btn btn-danger p-3">И тд</button>
		</div>  <!-- Кнопки -->
	</div>
{% endblock %}